<<<<<<< HEAD
  <div class="top-bar">
    <img class="logo" src="../icons/logo.png">


<div class="top-space"></div>
    <div class="row margin-left-5em scroll">
=======
<div class="top-bar"></div>
<img class="logo" src="../icons/logo.png">

<div class="row margin-left-5em scroll top-space">
    <div class="row">
>>>>>>> aa611259b06549ff9e62c68a96928777d53c13c7

        {{#each buddy}}
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="my-card-body">
<<<<<<< HEAD
                <h2>{{name}},{{age}} <span class="big-font margin-left-5em blue noopct">{{prefered_trip}}</span>
                </h2>

                <p>interest: <span class="regular-font bold noopct">{{intrests}}</span>
                <br>top destinations: <span class="bold regular-font noopct">{{dest1}}|{{dest2}}|{{dest3}}</span>
                </p>
            </div>

        </div>
        {{/each}}

    </div>
=======
                <h2>{{name}},{{age}}<span class="big-font margin-left-5em blue noopct">{{prefered_trip}}</span></h2>
                <p>interests:<span class="regular-font bold noopct">{{interests}}</span>
                    <br>
                    top destination:<span class="bold regular-font noopct">{{dest1}}|{{dest2}}|{{dest3}}</span>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
>>>>>>> aa611259b06549ff9e62c68a96928777d53c13c7
