<div class="container">
    <div class="row">
        <div class="col-6 md">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title</p>
                    <p><strong>ID</strong>: {{db.Buddies.id}}</p>
                    <p><strong>Text</strong>: {{result.language}}</p>
                    <p><strong>Description:</strong> {{result.description}}</p>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
        <div class="col-6 md">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title</p>
                    <p><strong>ID</strong>: {{example.id}}</p>
                    <p><strong>Text</strong>: {{example.text}}</p>
                    <p><strong>Description:</strong> {{example.description}}</p>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>