<div class="top-bar">
    {{!-- <img class="logo" src="../icons/logo.png"> --}}
</div>
<div class="top-space"></div>
<div class="row margin-left-5em scroll">
    <div class="container">
        <div id="idnum" value="{{id}}"></div>

        <h3 class="newDisplay" class="blue">
            < view others</h3> <div class="row">
                <div class="LeftHalf">
                    <div class="picture">
                        <img class="picture" src={{photo}}>
                    </div>
                    <h3 class="bold">Self Introduction</h3>
                    <textarea id="description">{{description}}</textarea>
                    <h3 class="bold">Past Travel Experience</h3>
                    <textarea id="past_travel">{{past_travel}}</textarea>
                    <h3 class="bold">What kind of people I'm looking for</h3>
                    <textarea id="person">{{person}}</textarea>
                </div>
                <div class="rightHalf">
                    <h3 class="bold">Name</h3>
                    <input id="name" value="{{name}}">
                    <h3 class="bold">top destinations:</h3>
                    <input id="dest1" value="{{dest1}}">
                    <input id="dest2" value="{{dest2}}">
                    <input id="dest3" value="{{dest3}}">

                    <h3 class="bold">Country</h3>
                    <input id="country" value="{{country}}">
                    <h3 class="bold">Country</h3>
                    <input id="language" value="{{language}}">
                    <br>


                    <br>

                    <h3 class="bold">password</h3>
                    <input id="password" value="{{password}}">
                    <br><br><br>
                    <button id="save" type="submit" class="mybtn bottom-space">Save</button>
                    <button id="logout" type="submit" class="mybtn bottom-space">log out</button>
                </div>
    </div>
</div>